body {
  margin: 0px auto;
  padding-left: .5em;
  padding-right: .5em;
  font-family: "Microsoft YaHei", SimSun, Arial, "MS Trebuchet", sans-serif;
  width: 1660px;
  background-color: #fbfaf9;
}

h3 {
  font-size: 1em;
}

h4 {
  margin: 0 10px 2px;
  font-size: 14px;
  color: #333;
}

#page_header {
  width: 100%;
}

#page_header>nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page_header>nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page_header>nav>ul>li {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: .875em;
}

#page_header>nav>ul>li>a {
  padding: 0 16px;
}

#page_header>nav>ul>li+li+li a {
  border-left: 1px solid #aaa;
}

#page_header>nav>ul>li>a {
  margin: 3px 0;
  padding: 0 16px;
}

#page_header>nav {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-bottom: .5em;
  line-height: 3ex;
}

#article {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  margin-top: 0.4em;
  width: 180px;
  font-size: .875em;
}

#sidebar ul li {
  list-style: none;
  margin-bottom: 1em;
  cursor: pointer;
}

#posts {
  border: 1px solid #eee;
  box-shadow: 0 0 0.5em #999;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 1440px;
  min-height: 400px;
}

#ctn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#page_footer {
  clear: both;
  display: block;
  text-align: center;
  width: 100%;
}

a {
  color: #2b73b6;
  text-decoration: none;
}

a:hover {
  color: #ed6c7b;
}

.results {
  font-size: 17pt;
  color: #d75359;
}

.del {
  background-color: #cb6868;
  color: #f3dad1;
  margin: auto;
}

.chg {
  background-color: #cb6868;
  color: #f3dad1;
  margin: auto;
}

.sv {
  background-color: #068038;
  color: #f3dad1;
  margin: auto;
}

table {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

th, td {
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  text-align: left;
  color: #333;
}

th {
  background-color: #d7d7d7;
  font-weight: bold;
}

td {
  background-color: #fff;
}

table.sortable th:hover {
  cursor: pointer;
}

th.ascending, th.descending, table.sortable th:hover {
  background-color: #425044;
  color: #fff;
}

/* Arrows for table sorting */

th.ascending:after {
  font-size: 60%;
  content: '\25B2';
  float: left;
  padding: 4px 5px 0 0;
}

th.descending:after {
  font-size: 60%;
  content: '\25BC';
  float: left;
  padding: 4px 5px 0 0;
}