<fieldset>
	<legend><span>应收帐款</span></legend>
	<label for="debt_cstmname">欠款客户：</label><input class="input" type="text" id="cstmname" name="debt_cstmname" />
	</br>
	<button id="debt_query_some">查询</button>
	<button id="debt_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="debt_results" class="sortable">
	<thead>
		<tr>
			<th>ID</th>
			<th>客户名称</th>
			<th data-sort="ffloat">应收余额</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<fieldset id='change_table'>

</fieldset>
<script src="/static/js/jxc/debt_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">