<section id="add_form">
	<h3>新增入库</h3>
	<p>
	<label for="instock_cstmname">客户名称：</label><input type="text" id="cstmname" name="instock_cstmname" />
	<label for="instock_prdtname">品种名称：</label><input type="text" id="prdtname" name="instock_prdtname" />
	<label for="instock_specific">品种规格：</label><input type="text" id="specific" name="instock_specific" />
</p>
<p>
	<label for="instock_create_date">入库日期：</label><input type="text" id="create_date" name="instock_create_date" />
	<label for="instock_quantity">入库数量：</label><input type="text" id="quantity" name="instock_quantity" />
	<label for="instock_mac">Mac地址：</label><input value="无" type="text" id="mac" name="instock_mac" />
</p>
<p>
	<label for="instock_sn">SN 号码：</label><input value="无" type="text" id="sn" name="instock_sn" />
	
	<label for="instock_remark">备注信息：</label><input value="无" type="text" id="remark" name="instock_remark" />
	</p>
	<button id="instock_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/instock_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">