<section id="add_form">
	<h3>增加发票</h3>
	<p>
		<label for="invoice_sn">发票号码：</label><input type="text" id="sn" name="invoice_sn" />
		<label for="invoice_create_date">开票日期：</label><input type="text" id="create_date" name="invoice_create_date" />
		<label for="invoice_cstmname">客户名称：</label><input type="text" id="cstmname" name="invoice_cstmname" />
	</p>
	<p>
		<label for="invoice_prdtname">产品名称：</label><input type="text" id="prdtname" name="invoice_prdtname" />
		<label for="invoice_specific">产品规格：</label><input type="text" id="specific" name="invoice_specific" />
		<label for="invoice_quantity">开票数量：</label><input type="text" id="quantity" name="invoice_quantity" />
	</p>
	<p>
		<label for="invoice_price">开票单价：</label><input type="text" id="price" name="invoice_price" />

		<label for="invoice_remark">备注信息：</label><input value="无" type="text" id="remark" name="invoice_remark" />
		<label for="invoice_ivtype">&nbsp;&nbsp;&nbsp;&nbsp;发票类型：</label><select id="ivtype" name="invoice_ivtype">
			<option value="收据">收据</option>
			<option value="普票">普票</option>
			<option value="专票">专票</option>
		</select>
	</p>
	<button id="invoice_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/invoice_add.js"></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">