<fieldset>
	<legend><span>发票记录</span></legend>
	<label for="invoice_sn">发票号码：</label><input class="input" type="text" id="sn" name="invoice_sn" />
	<label for="invoice_create_date">开票日期：</label><input class="input" type="text" id="create_date" name="invoice_create_date" />
	<label for="invoice_cstmname">开票单位：</label><input class="input" type="text" id="cstmname" name="invoice_cstmname" />
	</br>
	<label for="invoice_prdtname">产品名称：</label><input class="input" type="text" id="prdtname" name="invoice_prdtname" />
	<label for="invoice_specific">产品规格：</label><input class="input" type="text" id="specific" name="invoice_specific" />
	<label for="invoice_remark">备注信息：</label><input class="input" type="text" id="remark" name="invoice_remark" />
	
	</br>
	<button id="invoice_query_some">查询</button>
	<button id="invoice_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="invoice_results" class="sortable">
	<thead>
		<tr>

			<th>发票号码</th>
			<th>发票类型</th>
			<th data-sort="date">开票日期</th>
			<th>开票单位</th>
			<th>产品名称</th>
			<th>规格</th>
			<th>数量</th>
			<th data-sort="ffloat">单价</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<fieldset id='change_table'>

</fieldset>
<script src="/static/js/jxc/invoice_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">