<fieldset>
	<legend><span>在途货物查询</span></legend>
	<label for="onway_product_cstmname">客户名称：</label><input class="input" type="text" id="cstmname" name="onway_product_cstmname" />
	<label for="onway_product_prdtname">产品名称：</label><input class="input" type="text" id="prdtname" name="onway_product_prdtname" />
	<label for="onway_product_specific">产品规格：</label><input class="input" type="text" id="specific" name="onway_product_specific" />
	</br>
	<button id="onway_product_query_some">查询</button>
	<button id="onway_product_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="onway_product_results" class="sortable">
	<thead>
		<tr>
			<th>ID</th>
			<th>客户名称</th>
			<th>品种名称</th>
			<th>品种规格</th>
			<th data-sort="iint">在途数量</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<script src="/static/js/jxc/onway_product_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">