<section id="add_form">
	<h3>新增出库</h3>
	<p>
		<label for="outstock_cstmname">客户名称：</label><input type="text" id="cstmname" name="outstock_cstmname" />

		<label for="outstock_prdtname">品种名称：</label><input type="text" id="prdtname" name="outstock_prdtname" />

		<label for="outstock_specific">品种规格：</label><input type="text" id="specific" name="outstock_specific" />
	</p>
	<p>
		<label for="outstock_create_date">出库日期：</label><input type="text" id="create_date"
			name="outstock_create_date" />
	
		<label for="outstock_quantity">出库数量：</label><input type="text" id="quantity" name="outstock_quantity" />
		<label for="outstock_mac">Mac地址：</label><input value="无" type="text" id="mac" name="outstock_mac" />
	</p>
	<p>
		<label for="outstock_sn">SN号码：</label><input value="无" type="text" id="sn" name="outstock_sn" />

		<label for="outstock_remark">备注信息：</label><input value="无" type="text" id="remark" name="outstock_remark" />
	</p>
	<button id="outstock_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/outstock_add.js"></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">