<fieldset>
	<legend><span>查询回款</span></legend>
	<label for="payment_cstmname">回款客户：</label><input class="input" type="text" id="cstmname" name="payment_cstmname" />
	<label for="payment_create_date">回款日期：</label><input class="input" type="text" id="create_date" name="payment_create_date" />
	</br>
	<button id="payment_query_some">查询</button>
	<button id="payment_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="payment_results" class="sortable">
	<thead>
		<tr>
			<th>回款客户</th>
			<th data-sort="date">回款日期</th>
			<th>回款形式</th>
			<th data-sort="ffloat">回款金额</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<fieldset id='change_table'>

</fieldset>
<script src="/static/js/jxc/payment_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">