<section id="add_form">
	<h3>增加产品</h3>
	<p>
		<label for="product_prdtname">产品名称：</label><input type="text" id="prdtname" name="product_prdtname" style="background-color:#f3d2d1;" />
		<label for="product_specific">产品规格：</label><input type="text" id="specific" name="product_specific"  style="background-color:#f3d2d1;"/>
		<label for="product_inventor">生产企业：</label><input type="text" id="inventor" name="product_inventor" style="background-color:#f3d2d1;" />
	</p>
	<p>

		<label for="product_unit">计量单位：</label><input type="text" id="unit" name="product_unit"  style="background-color:#f3d2d1;" />
		<label for="product_ivtype">发票类型：</label><input value="纸专" type="text" id="ivtype" name="product_ivtype" />
		<label for="product_remark">备注信息：</label><input value="无" type="text" id="remark" name="product_remark" />
	</p>
	<button id="product_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/product_add.js"></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">