<fieldset>
	<legend><span>当前库存</span></legend>

	<label for="stocks_prdtname">品种名称：</label><input class="input" type="text" id="prdtname" name="stocks_prdtname" />
	<label for="stocks_specific">产品规格：</label><input class="input" type="text" id="specific" name="stocks_specific" />
	<label for="stocks_mac">MAC</label><input class="input" type="text" id="mac" name="stocks_mac" />
	</br>
	<button id="stock_query_some">查询</button>
	<button id="stock_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="stocks_results" class="sortable">
	<thead>
		<tr>
			<th>ID</th>
			<th>品种名称</th>
			<th>品种规格</th>
			<th>MAC</th>
			<th>SN</th>
			<th data-sort="iint">库存数量</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<script src="/static/js/jxc/stock_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">