<!DOCTYPE html>
<html>

<head>
	<title>个人业务数据</title>
	<meta charset="utf-8" />
	<script src="static/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" href="static/css/index.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="static/css/apple-clock.css" media="screen" type="text/css" />
	<link rel="shortcut icon" href="static/favicon.png" type=image/x-icon />
	<link rel="stylesheet prefetch" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/game.css">
</head>

<body>

	<section id="clock-ctn">
		<section id="digit">
			<div id="digit-clock">
				<p class="date"></p>
				<p class="time"></p>
			</div>
		</section>
		<section>
			<h1>个人业务数据网-建设中</h1>
		</section>
		<section id="apple-clock">
			<div class="fill">
				<div class="reference"></div>
				<div class="clock" id="utility-clock">
					<div class="centre">
						<div class="dynamic"></div>
						<div class="expand round circle-1"></div>
						<div class="anchor hour">
							<div class="element thin-hand"></div>
							<div class="element fat-hand"></div>
						</div>
						<div class="anchor minute">
							<div class="element thin-hand"></div>
							<div class="element fat-hand minute-hand"></div>
						</div>
						<div class="anchor second">
							<div class="element second-hand"></div>
						</div>
						<div class="expand round circle-2"></div>
						<div class="expand round circle-3"></div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<header>
					<h2>匹配游戏</h2>
				</header>

				<section class="score-panel">
					<ul class="stars">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					步数：<span class="moves">0</span>

					<div class="restart" onClick="run()">
						<i class="fa fa-repeat"></i>
					</div>
				</section>

				<ul class="deck" id="deck">

				</ul>
			</div>
		</section>
	</section>


	<section id="last-box">
		<section>
			<a href="jxc">进销存系统</a><span id="tech"><a target="_blank" href="http://v.youku.com/v_show/id_XMzk3ODUyODYwMA==.html?spm=a2hzp.8244740.0.0">(使用教程)</a></span>
		</section>

	</section>




	<section id="page_footer">
		<footer>
			<small>
				<nav>
					<p style="margin-top:3em; color:#939393">Copyright @ 2018 周京成(所有权保留)</p>
					<p><a target="_blank" href="http://www.miitbeian.gov.cn/" style="color:#939393">鲁ICP备14025598号-3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
					<p><img src="/static/beian.png" style="vertical-align: middle" /><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37090202000778"
						 style="color:#939393">鲁公网安备 37090202000778号</a></p>
				</nav>
			</small>
		</footer>
	</section>
	<script src="static/js/apple-clock.js"></script>
	<script src="static/js/game.js"></script>
	<script src="static/js/index.js"></script>



</body>

</html>